*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI',sans-serif;
  scroll-behavior: smooth;
}
.navbar{
  position: fixed;
  width:100%;
  background-color:rgb(201, 164, 237)  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0 2px 8px rgba(rgb(102, 4, 4), rgb(2, 61, 2), pink, alpha);
  z-index: 1000;
  transition: background-color0.3s ease;
}
.navbar scrolled{
  background-color: #222;
}
.logo{
  font-size: 1.5rem;
  font-weight:blod;
  color:black ;

}
.nav_links{
  list-style: none;
  display: flex;
  gap:30px;
}
.nav_links a{
  text-decoration: none;
  font-size: 1 rem;
  color:#333;
  transition:color 0.3s ,border-bottom 0.3s;
}
.nav_links li a:hover{
  color:#647587;
  border-bottom:2p solid #42505f;
}
.navbar.scrolled.nav_links li a{
  color:#fff
}
.navbar.scrolled.nav-links li a :hover{
  color:#ffcc00;
  border-bottom:2px solid #ffcc00;

}
.section{
  height: 100vh;
  padding: 100px;
  display:flex;
  justify-content: center;
  align-items:center;
  font: size 2re;
}
#home{background:rgb(217, 223, 31);}
#contact{background-color: rgb(143, 210, 246);}
#about{background:rgb(246, 142, 113);}
#help{background:#9aebac;}
